.project
.pydevproject
.settings
*.sublime-project
*.sublime-workspace
/logs
/logs*
*.pyc
build
dist
*.log
*.bak
res/doc/tmp
res/slides/tmp
*.synctex.gz
simulator/data
simulator/logs
simulator/.RData
simulator/.Rhistory
*.swp
*.swo
